#sidebar-wrapper {
    z-index: 1000;
    width: 200px;
    height: 100%;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#sidebar-wrapper1 {
    -webkit-transform: translate3d(0px, 0px,0px);
    transform: translate3d(0px, 0px, 0px);
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    margin-left: -220px;
    z-index: 1;
}
.dropDownBar.is-closed{
    display: none;
}

.dropDownBar.is-open {
    -webkit-transform: translate3d(0px, 0px,0px);
    transform: translate3d(0px, 0px, 0px);
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

.dropDownBar li a{
    color:rgb(110, 110, 110);
    z-index: 1;
    }

.dropDownBar li a:hover{
    color:rgb(51, 51, 51);
    z-index: 1;
}

  /*     Sidebar nav styles        */

.navigationbar {
        position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.sidebar-nav {
    position: absolute;
    top: 0;
    width: 220px;
    margin: 0;
    padding: 0;
    list-style: none;
    z-index: 1;
}

.sidebar-nav li {
    content: "";
    position: absolute;
    position: relative;
    line-height: 20px;
    display: inline-block;
    width: 90%;
    -webkit-transition: width 0.2s ease-in;
    -moz-transition: width 0.2s ease-in;
    -ms-transition: width 0.2s ease-in;
    transition: width 0.2s ease-in;
}


.sidebar-nav li:hover {
    background: rgba(196, 197, 197, 0.219) !important;
    margin-left: 10px;
} 

.sidebar-nav li:hover:before,
.sidebar-nav li.open:hover:before {
    width: 100%;
    -webkit-transition: width 0.2s ease-in;
    -moz-transition: width 0.2s ease-in;
    -ms-transition: width 0.2s ease-in;
    transition: width 0.2s ease-in;
}

.sidebar-nav li a {
    display: block;
    text-decoration: none;
    padding: 10px 15px 10px 30px;
    color:rgb(51, 51, 51);
}

.sidebar-nav .dropdown-menu {
    position: relative;
    width: 100%;
    padding: 0;
    margin: 0;
    border-radius: 0;
    border: none;
    background-color: #222;
    box-shadow: none;
}
.dropdown-menu.show {
    top: 0;
}
/*Fontawesome icons*/
.nav.sidebar-nav li a::before {
    font-family: fontawesome;
    content: "\f12e";
    vertical-align: baseline;
    display: inline-block;
    padding-right: 5px;
    font-size:25px;
    margin:5px;
    color: rgba(168, 30, 53, 0.904);
}
a[href*="#home"]::before {
    content: "\f015" !important;
}
a[href*="#about"]::before {
    content: "\f129" !important;
}
a[href*="#events"]::before {
    content: "\f073" !important;
}
a[href*="#events"]::before {
    content: "\f073" !important;
}
a[href*="#team"]::before {
    content: "\f0c0" !important;
}
a[href*="#works"]::before {
    content: "\f0b1" !important;
}
a[href*="#pictures"]::before {
    content: "\f03e" !important;
}
a[href*="#videos"]::before {
    content: "\f03d" !important;
}
a[href*="#books"]::before {
    content: "\f02d" !important;
}
a[href*="#art"]::before {
    content: "\f1fc" !important;
}
a[href*="#awards"]::before {
    content: "\f02e" !important;
}
a[href*="#services"]::before {
    content: "\f013" !important;
}
a[href*="#contact"]::before {
    content: "\f086" !important;
}
a[href*="#followme"]::before {
    content: "\f099" !important;
    color: #0084b4;
}

